#headerSection {
  background-color: #be2edd;
}

#brand {
  font-weight: 600;
  color: white;
  font-style: italic;
  font-family: cursive;
  font-size: xx-large;
}

#loginSection {
  padding: 15px;
  border: 1px solid #be2edd;
  background-color: white;
  border-radius: 20px;
}

#adminSection {
  padding: 15px;
  border: 1px solid #34495e;
  background-color: white;
  border-radius: 20px;
}

#component {
  background-color: white;
  border-radius: 10px;
}
